@{
    ViewBag.Title = "Oops - We couldn't find what you were looking for";
}

<div class="container tpad-32">
    <div class="column">
        <h2 class="alt">Can't find that page</h2>
    </div>
    <div class="column">
        <p>Looks like you were given a bad URL as there is no page corresponding to that link!</p>
    </div>
</div>
    
