@{
    ViewBag.Title = "Well this is embarrassing...";
}

<div class="container tpad-32">
    <div class="column">
        <h2 class="alt">Looks like our site had a bit of an issue...</h2>
    </div>
    <div class="column">
        <p>
        Terribly sorry for the problem - we've been notified and we'll try to fix this problem right now.
        </p>
    </div>
</div>
